<ion-toolbar id="header">
    <ion-row>
        <ion-col size="3">
            <ion-img id="logo" src="assets/iconos/logo.png"></ion-img>
        </ion-col>
        <ion-row class="btnheader">
            <ion-img (click)="tocv()" src="assets/iconos/inicio.png"></ion-img>
            <ion-img (click)="tocuestion()" class="ion-margin-start" src="assets/iconos/cuestionarios.png"></ion-img>
            <ion-img class="ion-margin-start" src="assets/iconos/suscribirse.png"></ion-img>
            <ion-img class="ion-margin-start" src="assets/iconos/audio.png"></ion-img>
            <ion-img class="ion-margin-start" src="assets/iconos/mensaje.png"></ion-img>
            <ion-badge color="whiteblue" id="mensaje">6</ion-badge>
            <ion-img class="ion-margin-start" src="assets/iconos/noti.png"></ion-img>
            <ion-badge color="whiteblue" id="notification">7</ion-badge>
            <ion-img class="ion-margin-start" id="avatar" src="assets/iconos2/avatar.png"></ion-img>
            <ion-badge color="whiteblue" id="Yo">Yo</ion-badge>
        </ion-row>
    </ion-row>
</ion-toolbar>