#header {
    --background: #073c66;
    .btnheader {
        position: absolute;
        right: 15px;
        top: 7px;
        ion-img {
            width: 30px;
        }
    }
    #notification {
        position: absolute;
        right: 20%;
        border-radius: 50px;
        height: fit-content;
    }
    #mensaje {
        position: absolute;
        right: 40%;
        border-radius: 50px;
        height: fit-content;
    }
    #Yo {
        border-radius: 50px;
        height: fit-content;
        right: 8px;
        bottom: -7px;
        position: absolute;
    }
}