<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-label>Temas</ion-label>
        </ion-toolbar>
    </ion-header>
    <ion-item>
        <ion-label>Node JS</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Liderazgo</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Ruby</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>MongoDB</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Java</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Emprendimiento</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Inteligencia emocional</ion-label>
    </ion-item>
</ion-content>