<ion-header style="border-bottom:1px blue solid">
    <ion-toolbar>
        <ion-title color="blue">
            <p class="ion-no-margin">Historial de Habilidades</p>
            <p class="ion-no-margin">por Capacitacion</p>
        </ion-title>

        <ion-buttons slot="end">
            <ion-icon (click)="closeModal()" name="close-circle">

            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
    <br><br><br>
    <ion-title class="ion-margin" color="whiteblue" style="background-color: #043C66;  border-radius: 12px 12px 5px 5px;">Habilidades</ion-title>
    <ion-grid class="ion-margin">
        <ion-row>
            <ion-col>
                <div>
                    <ion-fab horizontal="end" vertical="center" slot="fixed">
                        <ion-fab-button color="whiteblue" style="width: 25px;height: 25px;">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>NodeJs</div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-fab horizontal="end" vertical="center" slot="fixed">
                        <ion-fab-button color="whiteblue" style="width: 25px;height: 25px;">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>Liderazgo</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    <ion-fab horizontal="end" vertical="center" slot="fixed">
                        <ion-fab-button color="whiteblue" style="width: 25px;height: 25px;">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>MongoDB</div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-fab horizontal="end" vertical="center" slot="fixed">
                        <ion-fab-button color="whiteblue" style="width: 25px;height: 25px;">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>Java</div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-fab horizontal="end" vertical="center" slot="fixed">
                        <ion-fab-button color="whiteblue" style="width: 25px;height: 25px;">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>Emprendimiento</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    <ion-fab horizontal="end" vertical="center" slot="fixed">
                        <ion-fab-button color="whiteblue" style="width: 25px;height: 25px;">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>Ruby</div>
            </ion-col>
            <ion-col col-6>
                <div>
                    <ion-fab horizontal="end" vertical="center" slot="fixed">
                        <ion-fab-button color="whiteblue" style="width: 25px;height: 25px;">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>Inteligencia Emocional</div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-fab horizontal="end" vertical="center" slot="fixed">
                        <ion-fab-button color="whiteblue" style="width: 25px;height: 25px;">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>HTML</div>
            </ion-col>
        </ion-row>
        <ion-row id="rr" style="border-top:1px gray solid;">
            <ion-col col-6>
                <div>Ruby</div>
            </ion-col>
            <ion-col>
                <div>MongoDB</div>
            </ion-col>
            <ion-col>
                <div>Java</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-searchbar class="ion-no-padding" id="buscar"></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>