img {
    display: block;
    max-width: 50%;
    height: auto;
  }
.form-rounded {
border-radius: 1rem;
}

.input-wrapper {
    display:inline-block;
    position: relative
}

.input-wrapper:after {
    font-family: 'FontAwesome';
    content: '\f274';
    position: absolute;
    right: 6px;
}
