<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="container" >
    <div class="row">
      <div class="col-sm-9 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card my-5 container">
          <!-- <div class="card-header"> -->
            <div style="background-color: #F4870F;" class=" mt-3">
              <img class="container mt-2" src="../../assets/iconos/jofiel_blanco-06.png" alt="logo">
              <h4 class="text-center mb-2" style="color: #fff; margin: auto;">Tu Red Social de Conocimiento</h4>
            </div>
          <!-- </div> -->
          <div class="container">
            <h4 class="card-title text-left">Iniciar sesión con</h4>
            
            <div class="row">
              <button type="button" class="btn btn-danger col-sm-3 ">
                <i class="fa fa-google fa-3x"></i>
              </button>
              <div class="col-sm-1"></div>
              <button type="button" class="btn btn-primary col-sm " style="background-color: #3b5998">
                <i class="fa fa-facebook fa-3x"></i>
              </button>
              <div class="col-sm-1"></div>
              <button type="button" class="btn btn-info col-sm-3">
                <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
              </button>
            </div>
              <hr style="border: 1px solid #94908d;">
            <!-- <form> -->
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-label-group">
                <input type="text" id="inputEmail" class="form-control form-rounded input-wrapper" placeholder="Nombre de usuario o email" required autofocus formControlName="user">
                <br>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control form-rounded input-wrapper" placeholder="Contraseña" required formControlName="password">
                
                <br>
              </div>
              <div class="row w-100">
                <div class="col-sm-7 col-md-8 col-lg-8 col-xl-8">
                  <p style="font-size: 0.5rem;">Al entrar con una red social indica que has leído y acepta las 
                    <strong style="color: blue;">condiciones de servicio. Política de Privacidad y Política de Derechos de Autor </strong>
                    de Jofiel
                  </p>
                </div>
                <div class="col-sm-4 col-md-4">
                  <a style="color: blue; font-size: 0.6rem;" href="#">Olvide mi contraseña</a>
                </div>
              </div>
              <!-- <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div> -->
              <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
                <div class="col-sm-6 col-md col-lg col-xl">
                  <button class="btn btn-lg btn-primary btn-block" style="background-color: #F4870F; font-size: 1.2rem;" >Iniciar</button>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <a style="color: blue; font-size: 0.6rem;" href="#"><strong>Registrarme</strong></a>
                </div>
              </div>
              
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
