.title{
     --background: #F4870F;
     text-align: center;
     border-radius: 10px;
    ion-label{
        background-color: #F4870F;
        color: #fff;
        font-size: 130%;
        font-weight: bold;
    }
}