<ion-row class="grid-container">
    <ion-col class="item1">
        <img style="width: 100px;" [src]="image" /></ion-col>
    <ion-row>
        <ion-col>
            <p class="ion-no-margin" style="font-size: small;color: #043C66; ">Nombre de Usuario</p>
            <strong class="ion-no-margin" style="font-size: smaller;border-bottom: 3px #043C66 solid;margin-top: 5px;">Norman Riascos</strong>
        </ion-col>
        <ion-col>
            <p class="ion-no-margin" style="font-size:small;color: #043C66;">Profesion</p>
            <p class="ion-no-margin" style="font-size: 12px;border-bottom: 3px #043C66 solid;margin-top: 2px;">Magister en Ingenieria</p>
        </ion-col>
    </ion-row>
    <ion-col>
        <p class="ion-no-margin" style="font-size: small;color: #043C66;">Descripcion</p>
        <p class="ion-no-margin" style="font-size: small;margin-top: 5px;">Me encanta la tecnologia, siempre estoy buscando cosas nuevas</p>
    </ion-col>
</ion-row>