.contenido {
    p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#vermas {
    border-radius: 25px;
    --border-radius: 25px;
    --background: #ddd;
}

ion-select {
    width: fit-content;
    margin: auto;
}

ion-select::part(icon) {
    color: #043C66;
    opacity: 1;
}