#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

#bar {
    background-color: #043C66;
}

#buscar {
    --border-radius: 20px;
    font-size: small;
}

#pregunta {
    border-radius: 50px;
    --border-radius: 50px;
    background-color: #F4870F;
    width: 70px;
    font-size: 6px;
}

.ion-margin-start {
    width: 30px;
    height: 30px;
}

.nav2 {
    float: right;
}

#columna1 {
    background-color: #F4870F;
}

#columna2 {
    background-color: #F4870F;
}

#avatarusuario {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: #043C66;
    font-size: small;
}

#columna01 {
    width: 33%;
}

#columna02 {
    bottom: 20px;
}

#progreso {
    border-radius: 25px;
    border-color: #043C66;
    border-style: solid;
}

#Porcentaje {
    float: right;
    font-size: 24px;
    color: #043C66;
    font-weight: 500;
}

#link {
    float: right;
    color: #F4870F;
    text-decoration: underline;
    text-decoration-color: #043C66;
}

#Guardar {
    border: 2px solid #F4870F;
    border-radius: 5px;
}

#Cerrar {
    border: 2px solid #F4870F;
    border-radius: 5px;
}

#Busqueda {
    border: 2px solid #043C66;
    border-radius: 5px;
}