

.body{
  background: #ffffff;
}

.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #073c66 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #073c66 !important;
  border-radius: 20px !important; 
  border: transparent !important;
}

#user-icon{
  position: relative;
}

.logo-app{
  position: absolute;
  left: -240px;
}

.user-home-app{
  position: absolute;
  right: 3px;
}

@media screen and (max-width: 600px) {
  .main-sidebar {
    position: relative;
    width: 271px;
    background-color: #fff;
    left: 0;
    overflow: scroll;
    display: none;
 }
 
 .navbar-nav{
  position: absolute;
  left: 80%;
 }
 
 .logo-app{
    position: absolute;
    left: -10px;
  }

.user-home-app{
  position: absolute;
  right: 3px;
}

 .navbar-bg{
    display: block;
 }

 #titleapp{
  display: none;
 }

 


}