<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
    <ion-card class="ion-padding">
        <app-info></app-info>
        <ion-row>
            <ion-col size="3.5">

            </ion-col>
            <ion-col size="6">
                <app-progressbar></app-progressbar>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card class="ion-padding">
        <b style="color: #F4870F; font-size: 30px;">Hola</b>
        <p class="ion-no-margin" style="color: #043C66; font-weight: bold;">Norman Riascos</p>
        <p class="ion-no-margin">Termina de completar tu perfil</p>
    </ion-card>
    <ion-card class="ion-padding">
        <ion-row>
            <ion-col size="12">
                <b style="color: #043C66;font-size:20px;" class="ion-margin-top">Credenciales Academicas</b>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Estudios Profesionales
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-academicas" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Articulos academicos y/o cientificos
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-laborales" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Nombres de Libros
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-academicas" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Proyectos academicos y/o cientificos
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-laborales" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Otros logros academicos
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-academicas" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Certificaciones SENA
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-laborales" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Capacitaciones
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-academicas" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Tecnologias Informaticas
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-laborales" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Competencias por certificaciones
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-academicas" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <div style="color: #043C66; font-weight: bold;">
                    Idiomas
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <a id="link" href="curriculum-vitae/credenciales-laborales" class="underline">
                      Agregar
                      <ion-icon name="brush"></ion-icon>
                    </a>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>

</ion-content>
<ion-footer style="background-color: #f3f3f3;" class="ion-no-border">
    <app-footer></app-footer>
</ion-footer>