
.mtop{
    margin-top: 20px;
   }
   
   .bltask{
       width: 100%;
       height: 30%;
       color: #fff;
       padding: 5px;
       font-size: 1.6rem;
   }
   
   .cardtk{
       border-radius: 3px;
       border-left-style: solid;
       border-left-width: thick;
   }
   
   .inc{
       background-color: #f53d3d;
   }
   
   .content-inc{
       border-left-color: #f53d3d;
   }
   
   .rg{
       background-color: #f39d13;
   }
   
   .content-rg{
      border-left-color: #f39d13;
   }
   
   .inti{
       background-color: #23a085;
   }
   
   .content-inti{
      border-left-color: #23a085;
   }
   
   
   .apr{
       background-color: #2980b9;
   }
   
   .content-apr{
      border-left-color: #2980b9;
   }
   
   
   .searchbar-ios{
     background: rgba(0, 0, 0, 0);
   }
   
   .card{
       background:  #e2e4e663 !important;
   }
   
   .successtk{
     background-color:#8BC34A !important;
   }
   
   .icons{
     background-color: #f8f9fa !important;
     color: #6c767ecf !important;
   }
   
   .icons-resp{
     background-color: #e8dbef !important;
     color: #6c767ecf !important;
   }
   
   .icon-create{
       background-color: #6bcde8 !important;
       color: #6c767ecf !important;
   }