/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
    --ion-color-bottonblue: #043C66;
    --ion-color-bottonblue-rgb: 4, 60, 102;
    --ion-color-bottonblue-contrast: #F4870F;
    --ion-color-bottonblue-contrast-rgb: 255, 255, 255;
    --ion-color-bottonblue-shade: #04355a;
    --ion-color-bottonblue-tint: #1d5075;
}

.ion-color-bottonblue {
    --ion-color-base: var(--ion-color-bottonblue);
    --ion-color-base-rgb: var(--ion-color-bottonblue-rgb);
    --ion-color-contrast: var(--ion-color-bottonblue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-bottonblue-contrast-rgb);
    --ion-color-shade: var(--ion-color-bottonblue-shade);
    --ion-color-tint: var(--ion-color-bottonblue-tint);
}

:root {
    --ion-color-bottonlight: #F4870F;
    --ion-color-bottonlight-rgb: 255, 255, 255;
    --ion-color-bottonlight-contrast: #000000;
    --ion-color-bottonlight-contrast-rgb: 0, 0, 0;
    --ion-color-bottonlight-shade: #ffffff;
    --ion-color-bottonlight-tint: #ffffff;
}

.ion-color-bottonlight {
    --ion-color-base: var(--ion-color-bottonlight);
    --ion-color-base-rgb: var(--ion-color-bottonlight-rgb);
    --ion-color-contrast: var(--ion-color-bottonlight-contrast);
    --ion-color-contrast-rgb: var(--ion-color-bottonlight-contrast-rgb);
    --ion-color-shade: var(--ion-color-bottonlight-shade);
    --ion-color-tint: var(--ion-color-bottonlight-tint);
}

:root {
    --ion-color-bluebotton: #043C66;
    --ion-color-bluebotton-rgb: 4, 60, 102;
    --ion-color-bluebotton-contrast: #ffffff;
    --ion-color-bluebotton-contrast-rgb: 255, 255, 255;
    --ion-color-bluebotton-shade: #04355a;
    --ion-color-bluebotton-tint: #1d5075;
}

.ion-color-bluebotton {
    --ion-color-base: var(--ion-color-bluebotton);
    --ion-color-base-rgb: var(--ion-color-bluebotton-rgb);
    --ion-color-contrast: var(--ion-color-bluebotton-contrast);
    --ion-color-contrast-rgb: var(--ion-color-bluebotton-contrast-rgb);
    --ion-color-shade: var(--ion-color-bluebotton-shade);
    --ion-color-tint: var(--ion-color-bluebotton-tint);
}

:root {
    --ion-color-customlight: #ffffff;
    --ion-color-customlight-rgb: 255, 255, 255;
    --ion-color-customlight-contrast: #F4870F;
    --ion-color-customlight-contrast-rgb: 244, 134, 16;
    --ion-color-customlight-shade: #043C66;
    --ion-color-customlight-tint: #043C66;
    --border-radius: 25px;
}

.ion-color-customlight {
    --ion-color-base: var(--ion-color-customlight);
    --ion-color-base-rgb: var(--ion-color-customlight-rgb);
    --ion-color-contrast: var(--ion-color-customlight-contrast);
    --ion-color-contrast-rgb: var(--ion-color-customlight-contrast-rgb);
    --ion-color-shade: var(--ion-color-customlight-shade);
    --ion-color-tint: var(--ion-color-customlight-tint);
    --border-radius: var(--border-radius);
}

:root {
    --ion-color-orange: #F4870F;
    --ion-color-orange-rgb: 244, 135, 15;
    --ion-color-orange-contrast: #ffffff;
    --ion-color-orange-contrast-rgb: 255, 255, 255;
    --ion-color-orange-shade: #d7770d;
    --ion-color-orange-tint: #f59327;
}

.ion-color-orange {
    --ion-color-base: var(--ion-color-orange);
    --ion-color-base-rgb: var(--ion-color-orange-rgb);
    --ion-color-contrast: var(--ion-color-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-orange-shade);
    --ion-color-tint: var(--ion-color-orange-tint);
}