ion-avatar{
    width: 30%;
    height: 30%;
    margin-left: -8%;
    margin-right: 1%;
}

.perfil{
    align-self: center;
    text-align: center;
}
.descLabel{
    margin-right: 0;
    .descLabelDesc{
        font-size: 75%;
    }
}
.descLabel p{
    font-size: 80%;
}
hr.new1 {
    border-top: 2px solid #f3f3f3;
    margin-top: 2%;
    width: 80%;
  }

  .chips{
    span{
        background: #F4870F;
        color: #fff;
        border-radius: 17px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 80%;
    }
  }

  .edit{
    margin-left: 40%;
    ion-icon{
        color: #F4870F
    }
  }
  .rowsInteresting{
    margin-top: -3%;
  }

.menuUserMenu{
    ion-item{
        font-size: 80%;
        margin-bottom: -4%;
        ion-icon{
            color: #F4870F;
            margin-right: 5%;
        }
        ion-label{
            color: #3b3b3bd9;
        }
    }
}

.menuOptionsUserMenu{
    ion-item{
        font-size: 80%;
        margin-bottom: -4%;
    }
    .closeSession{
        ion-label{
            p{
                color: #073c66;
            }
        }
    }
}