<ion-header>
    <ion-toolbar id="header">
        <ion-row>
            <ion-col size="3">
                <ion-img src="assets/iconos/logo.png"></ion-img>
            </ion-col>
            <ion-col size="1.5" style="margin: 10px 0px 0px 5px;">
                <ion-img style=" width: 75%;" src="assets\/iconos/inicio.png"></ion-img>
            </ion-col>
            <ion-col size="1.5" style="margin: 10px 0px 0px 45%;">
                <ion-img style=" width: 75%;" src="assets\/iconos2/avatar.png"></ion-img>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<br>
<ion-content>
    <ion-row>
        <ion-col style="color: orange; font-weight: 550;" class="ion-padding ion-text-center" size="12 ">
            Aprende mas rapido y facil escuchando audio-articulos y respondiendo cuestionarios
        </ion-col>
    </ion-row>
    <ion-grid fixed>
        <ion-row size="12">
            <ion-col size="1.5">
                <ion-img src="assets/iconos2/avatar.png"></ion-img>
            </ion-col>
            <ion-col size="6">
                <ion-row>
                    <ion-col size="9" class="ion-no-margin ion-no-padding">
                        <p class="ion-no-margin" style="font-size: 12px;font-weight: bold;">Norman Riascos</p>
                        <p class="ion-no-margin" style="font-size: 10px;">Mag. Ingenieria</p>
                        <p class="ion-no-margin" style="font-size: 9px;">
                            Me encanta la tecnologia,siempre estoy buscando cosas nuevas
                        </p>
                    </ion-col>
                    <ion-col size="3" class="ion-no-margin ion-no-padding">
                        <p class="ion-no-margin " style="font-size: x-small;">12 horas</p>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="ion-no-margin ion-no-padding" size="4">
                <ion-button id="follow">
                    Seguir a Norman
                </ion-button>
                <ion-row size="12">
                    <ion-col class="ion-no-margin ion-no-padding">
                        <ion-button id="follow">
                            Internet
                        </ion-button>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding">
                        <ion-button id="follow">
                            Ventas
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding ion-no-margin">
            <ion-col size="12">
                <b style="font-size: small;">Como invertir en la bolsa de valores por medio de Forex?</b>
                <p class="ion-text-justify" style="font-size: smaller;">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander
                    warf um ein Musterbuch zu erstellen.
                </p>
            </ion-col>
            <ion-row style="border-bottom: grey 1px solid;" class="ion-no-margin ion-justify-content-center">
                <ion-icon name="chatbox-outline"></ion-icon>
                <p style="font-size:8px; margin-bottom: 15px;margin-top: 3px;">200 comentarios</p>
                <ion-icon style="margin-left: 15px;" name="eye-outline"></ion-icon>
                <p style="font-size:8px;margin-top: 3px;">200 visualizaciones</p>
                <ion-icon style="margin-left: 15px;" name="share-social-outline"></ion-icon>
                <p style="font-size:8px;margin-top: 3px;">200 compartidas</p>
                <ion-icon style="margin-left: 15px;" name="add-outline"></ion-icon>
                <p style="font-size:8px;margin-top: 3px;">200 siguiendo</p>
            </ion-row>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-no-margin">
            <ion-img style="width: 17px;margin: 0px 0px 10px -20px;" src="assets/icon/calp.png"></ion-img>
            <p style="font-size:8px; margin-bottom: 15px;margin-top: 3px;">50</p>
            <ion-icon style="margin-left: 15px;" name="thumbs-up-outline" color="orange"></ion-icon>
            <p style="font-size:8px;margin-top: 3px;">50</p>
            <ion-icon style="margin-left: 15px;" name="thumbs-down-outline" color="orange"></ion-icon>
            <p style="font-size:8px;margin-top: 3px;">2</p>
            <ion-icon style="margin-left: 15px;" name="chatbox-outline" color="orange"></ion-icon>
            <p style="font-size:8px;margin-top: 3px;">Comentar</p>
            <ion-icon style="margin-left: 15px;" name="share-social-outline" color="orange"></ion-icon>
            <p style="font-size:8px;margin-top: 3px;">Compartir</p>
            <ion-icon style="margin-left: 15px;" name="add-circle-outline" color="orange"></ion-icon>
            <p style="font-size:8px;margin-top: 3px;">Seguir Pregunta</p>
        </ion-row>
        <ion-row style="padding: 0px 0px 0px 16px;">
            <p class="ion-no-margin" style="font-size: x-small;">Quien pregunto</p>
            <p class="ion-no-margin" style="font-size: x-small; margin-left:10px">Otras respuestas(30)</p>
        </ion-row>
        <ion-row style="padding: 0px 0px 0px 16px;border-bottom: grey 2px solid;">
            <ion-img style="width:33px;" src="assets/iconos/mensaje.svg"></ion-img>
            <p style="padding-left: 10px;">Comentarios</p>
        </ion-row>
    </ion-grid>
    <ion-grid fixed>
        <ion-row style="padding: 0px 0px 0px 16px;">
            <ion-col size="1.5">
                <ion-img src="assets/iconos2/avatar.png"></ion-img>
            </ion-col>
            <ion-col size="10" style="border-radius: 10px; background-color: #ddd;">
                <ion-row class="ion-no-margin ion-no-padding">
                    <ion-col class="ion-no-margin ion-no-padding" size="4.5">
                        <p class="ion-no-margin ion-no-padding" style="font-size: 10px; font-weight: bold;">Norman Riascos</p>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                        <p class=" ion-no-margin ion-no-padding" style="font-size: 8px;">Mag. Ingenieria</p>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                        <p class="ion-no-margin ion-no-padding" style="font-size: 8px;">1 hora</p>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                        <p class="ion-no-margin ion-no-padding" style="font-size: 8px;">Comentario</p>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding">
                        <p class="ion-text-justify ion-no-margin ion-no-padding" style="font-size: x-small; ">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie.</p>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-row style="padding: 0px 0px 0px 16px;">
                <ion-icon style="margin-left: 15px; padding: 0px 0px 0px 16px;" name="thumbs-up-outline" color="orange"></ion-icon>
                <p style="font-size:8px;margin-top: 3px;">Reaccionar</p>
                <ion-icon style="margin-left: 5px;" name="thumbs-down-outline" color="orange"></ion-icon>
                <ion-icon style="margin-left: 5px;" name="chatbox-outline" color="orange"></ion-icon>
                <p style="font-size:8px;margin-top: 3px;">Comentar</p>
            </ion-row>
            <ion-row style="padding: 0px 0px 0px 16px;">
                <ion-col size="1.5">
                    <ion-img src="assets/iconos2/avatar.png"></ion-img>
                </ion-col>
                <ion-col size="10" style="border-radius: 10px; background-color: #ddd;">
                    <ion-row class="ion-no-margin ion-no-padding">
                        <ion-col class="ion-no-margin ion-no-padding" size="4.5">
                            <p class="ion-no-margin ion-no-padding" style="font-size: 10px; font-weight: bold;">Norman Riascos</p>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                            <p class=" ion-no-margin ion-no-padding" style="font-size: 8px;">Mag. Ingenieria</p>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                            <p class="ion-no-margin ion-no-padding" style="font-size: 8px;">1 hora</p>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                            <p class="ion-no-margin ion-no-padding" style="font-size: 8px;">Comentario</p>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding">
                            <p class="ion-text-justify ion-no-margin ion-no-padding" style="font-size: x-small; ">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie.</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-row style="padding: 0px 0px 0px 16px;">
                    <ion-icon style="margin-left: 15px; padding: 0px 0px 0px 16px;" name="thumbs-up-outline" color="orange"></ion-icon>
                    <p style="font-size:8px;margin-top: 3px;">Reaccionar</p>
                    <ion-icon style="margin-left: 5px;" name="thumbs-down-outline" color="orange"></ion-icon>
                    <ion-icon style="margin-left: 5px;" name="chatbox-outline" color="orange"></ion-icon>
                    <p style="font-size:8px;margin-top: 3px;">Comentar</p>
                </ion-row>
            </ion-row>
            <ion-row style="padding: 0px 0px 0px 16px;">
                <ion-col size="1.5">
                    <ion-img src="assets/iconos2/avatar.png"></ion-img>
                </ion-col>
                <ion-col size="10" style="border-radius: 10px; background-color: #ddd;">
                    <ion-row class="ion-no-margin ion-no-padding">
                        <ion-col class="ion-no-margin ion-no-padding" size="4.5">
                            <p class="ion-no-margin ion-no-padding" style="font-size: 10px; font-weight: bold;">Norman Riascos</p>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                            <p class=" ion-no-margin ion-no-padding" style="font-size: 8px;">Mag. Ingenieria</p>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                            <p class="ion-no-margin ion-no-padding" style="font-size: 8px;">1 hora</p>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                            <p class="ion-no-margin ion-no-padding" style="font-size: 8px;">Comentario</p>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding">
                            <p class="ion-text-justify ion-no-margin ion-no-padding" style="font-size: x-small; ">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie.</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-row style="padding: 0px 0px 0px 16px;">
                    <ion-icon style="margin-left: 15px; padding: 0px 0px 0px 16px;" name="thumbs-up-outline" color="orange"></ion-icon>
                    <p style="font-size:8px;margin-top: 3px;">Reaccionar</p>
                    <ion-icon style="margin-left: 5px;" name="thumbs-down-outline" color="orange"></ion-icon>
                    <ion-icon style="margin-left: 5px;" name="chatbox-outline" color="orange"></ion-icon>
                    <p style="font-size:8px;margin-top: 3px;">Comentar</p>
                </ion-row>
            </ion-row>
        </ion-row>
        <ion-row style="padding: 0px 0px 0px 16px;">
            <ion-col size="1.5">
                <ion-img src="assets/iconos2/avatar.png"></ion-img>
            </ion-col>
            <ion-col size="10" style="border-radius: 10px; background-color: #ddd;">
                <ion-row class="ion-no-margin ion-no-padding">
                    <ion-col class="ion-no-margin ion-no-padding" size="4.5">
                        <p class="ion-no-margin ion-no-padding" style="font-size: 10px; font-weight: bold;">Norman Riascos</p>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                        <p class=" ion-no-margin ion-no-padding" style="font-size: 8px;">Mag. Ingenieria</p>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                        <p class="ion-no-margin ion-no-padding" style="font-size: 8px;">1 hora</p>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding" size="2.5">
                        <p class="ion-no-margin ion-no-padding" style="font-size: 8px;">Comentario</p>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding">
                        <p class="ion-text-justify ion-no-margin ion-no-padding" style="font-size: x-small; ">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie.</p>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-row style="padding: 0px 0px 0px 16px;">
                <ion-icon style="margin-left: 15px; padding: 0px 0px 0px 16px;" name="thumbs-up-outline" color="orange"></ion-icon>
                <p style="font-size:8px;margin-top: 3px;">Reaccionar</p>
                <ion-icon style="margin-left: 5px;" name="thumbs-down-outline" color="orange"></ion-icon>
                <ion-icon style="margin-left: 5px;" name="chatbox-outline" color="orange"></ion-icon>
                <p style="font-size:8px;margin-top: 3px;">Comentar</p>
            </ion-row>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button tab="schedule">
                    <ion-icon color="orange" name="image-outline"></ion-icon>
                </ion-tab-button>

                <ion-tab-button tab="speakers">
                    <ion-icon color="orange" name="chatbox-outline"></ion-icon>
                    <ion-badge>6</ion-badge>
                </ion-tab-button>

                <ion-tab-button tab="map">
                    <ion-img style="width: 25px;" src="assets/iconos/circulos.png"></ion-img>
                </ion-tab-button>

                <ion-tab-button tab="about">
                    <ion-img style="width: 25px;" src="assets/iconos/mensajepregunta.png"></ion-img>
                </ion-tab-button>

                <ion-tab-button tab="map">
                    <ion-icon color="orange" name="notifications-outline"></ion-icon>
                    <ion-badge>6</ion-badge>
                </ion-tab-button>

                <ion-tab-button tab="about">
                    <ion-icon color="orange" name="search-outline"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>