<ion-header>
    <ion-toolbar id="bar" color="bluebotton">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-searchbar id="buscar"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col id="columna01">
            <ion-avatar id="avatarusuario">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
        </ion-col>
        <ion-col id="columna02">
            <h1>Nombre de Usuario</h1>
            <strong>Norman Riascos</strong>
            <h1>Profesion</h1>
            <u>Magister en Ingenieria</u>
        </ion-col>
        <ion-col>
            <h1>Descripcion</h1>
            <div>Me encanta la tecnologia, siempre estoy buscando cosas nuevas</div>
        </ion-col>
    </ion-row>

    <ion-segment [(ngModel)]="segment" scrollable>
        <ion-segment-button value="first">
            Perfil
        </ion-segment-button>
        <ion-segment-button value="second">
            Credenciales Academicas
        </ion-segment-button>
    </ion-segment>


    <div [ngSwitch]="segment">
        <ion-card *ngSwitchCase="'first'" id="Perfil">
            <ion-card-header>
                <b style=" color: #F4870F; font-size: 30px;">Hola</b>
                <h1 style="color: #043C66; font-size: 30px;">Norman Riascos</h1>
                <p>Termina de completar tu perfil</p>
                <h1 style="font-size: 23px;">Estado de tu perfil
                    <ion-label id="Porcentaje">78%</ion-label>
                    <ion-progress-bar color="bottonlight" id="progreso" value=" 0.78 " style="height: 20px; "></ion-progress-bar>
                </h1>

            </ion-card-header>
            <ion-row>
                <ion-col>
                    <div>Informacion Personal</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Estudios Profesionales</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Articulos academicos y laborales</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Nombres de Libros</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Proyectos academicos y laborales</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Certificaciones CENA</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Capacitaciones</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Tecnologia Informatica</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Competencia por certificaciones</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Credenciales laborales</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Idiomas</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div>Otros logros academicos</div>
                </ion-col>
                <ion-col>
                    <ion-router-link id="link" href="#" class="underline">Agregar
                        <ion-icon name="brush"></ion-icon>
                    </ion-router-link>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card *ngSwitchCase=" 'second' ">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div style="font-weight: bold; color: #043C66;">Credenciales Academicos</div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-router-link id="link" href="#" class="underline">Agregar
                                <ion-icon name="brush"></ion-icon>
                            </ion-router-link>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66;">Credencial</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p>Profesional</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66;">Estudio</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p>Ingenieria Industrial</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-row>
                        <ion-col>
                            <div>
                                <p style="color: #043C66;">Institucion Universitaria</p>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                <p>Universidad del Valle Regional Call</p>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66;">Fecha de Inicio</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p>Profesional</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66;">Fecha de Finalizacion</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p>21/02/29</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <ion-button id="verCertificado" color="customlight">Ver Certificado
                            </ion-button>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-router-link href="http://vitela.javerianacali.edu.co/bitstream/handle/11522/11222/Diplomas_académicos_digitales_Blockchain.pdf?sequence=1&isAllowed=y" class="underline">
                                <ion-icon name="document-outline"></ion-icon> Certificado Magister Norman Riascos
                            </ion-router-link>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>

</ion-content>